
<!-- <div class="fakediv">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor minus maiores magni molestias. Molestias numquam sequi, amet sed voluptatibus veritatis eos rem aspernatur animi maiores optio cupiditate, ullam recusandae tenetur.</div> -->
<!-- <app-text-animation [text]="'這裡是文字！！！！'"></app-text-animation>

<app-odometer-num [number]="1000"></app-odometer-num>
<app-odometer-num [number]="3000"></app-odometer-num>
<app-odometer-num [number]="10000"></app-odometer-num>
<app-odometer-num [number]="150000"></app-odometer-num> -->

<router-outlet></router-outlet>